* {
  margin: 0;
  padding: 0;
}

body {
  width: 900px;
  margin: auto;
  height: 100px;
}

.border {
  height: 5px;
  background-color: black;
  border: none;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 75px;
}

.subheading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 27px;
}

.box {
  display: flex;
  gap: 20px;
}

.left {
  width: 100%;
  flex: 1;
}

.right {
  width: 100%;
  flex: 1;
}

.shuttle {
  width: 100%;
  height: auto;
}

.hitler {
  width: 100%;
  height: auto;
}

.space-walk {
  width: 100%;
  height: auto;
}
